$color-brand:#00a6ff;

$color-bg:#fff!default;

$at-button-height: 92px !default;
$at-button-color:$color-brand !default;
$at-button-bg: $at-button-color !default;
$at-button-border-color-primary: $color-brand !default;
$at-button-border-color-secondary: $color-brand !default;
