.menuitem {
  position: relative;
  margin: 0;
  padding-left: 30px;
  .fooddetails {
    padding: 2.666667vw 0;
    margin-bottom: 0.133333vw;
    display: -webkit-flex;
    display: flex;
    min-height: 27.466667vw;
    position: relative;
    &_logo {
      width: 25.333333vw;
      height: 25.333333vw;
      -webkit-flex: none;
      flex: none;
      margin-right: 2.666667vw;
      position: relative;
    }
    &_info {
      flex: 1;
      position: relative;
      padding-right: 4vw;
    }
    &_name {
      font-weight: 700;
      overflow: hidden;
      font-size: 32px;
      white-space: nowrap;
      width: 80%;
      text-overflow: ellipsis;
    }
    &_desc {
      margin: 1.333333vw 0;
      font-size: 28px;
      color: #999;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    &_sales {
      margin: 1.733333vw 0 !important;
      color: #999;
      font-size: 28px;
      line-height: 1;
      min-height: 1em;
    }
    .salesInfo_price {
      line-height: 4.266667vw;
      color: #ff5339;
      padding-bottom: 0.933333vw;
      display: flex;
      -webkit-align-items: baseline;
      align-items: baseline;
      justify-content: space-between;
      .salesInfo_originPrice {
        font-size: 28px;
        color: #999;
        margin-left: 1.6vw;
        text-decoration: line-through;
        // margin-right: 139px;
      }
      .salesInfo_icon{
        float: right;
      }
    }
  }
}
